@font-face {
  font-family: '80sFont';
  src: url('still_time.ttf');
}
body {
    background-color: black;
}
#title-text-container {
    width: 800px;

}
h1 {
    font-family: '80sFont';
    font-size: 50px;
    color: #FF0000;
    margin: 0;
   
}
h2 {
    color: white;
}
h1 #top-gun-title {
    font-size: 100px;
    color: #5aebad;
    margin: 0;

}
#main-body {
    margin: auto;
    max-width: 1024px;
}
#jumbo-container {
    background-image: url("../images/f14.jpg");
}
#character-select-container {
    width: 100; 
}
.character-selection-img {
    height: 100px;
    
    float: left;
    padding-right: 25px;
}

.button-style {
    height: 100px;
    width: 150px;
}

.character-btn {
    margin-right: 20px;
}

.character-icons {
    
    width: 50%;
    /* height: 50%; */
}
@media only screen and (max-width: 600px) {
    .character-icons {
        width:100%;
    }
}