.character-selection-img {
    height: 100px;
    width: 150px;
    float: left;
    padding-right: 25px;
}

.button-style {
       height: 100px;
    width: 150px;
}

.character-btn {
    margin-right: 20px;
}